/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Slab:wght@400;700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  --clr-white: #fff;
  --clr-dk-faded: rgba(0, 0, 0, 0.7);
  --clr-lt-faded: rgba(255, 255, 255, .7);
  /* font */
  font-size: 62.5%;
  --ff-primary: "Roboto Slab", serif;
  --ff-secondary: "Roboto Condensed", sans-serif;
  /* animation */
  --transition: all .3s ease-in-out;
  /* layout */
  // --margin-lg: 1em;
  // --margin-sm: .75em;
  --spacing: 0.25rem;
  --radius: .5em;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1280px;
  --fixed-width: 620px;
  /* grid */
  --grid-c-1: minmax(100px, 180px);
  --grid-c-2: minmax(90px, 160px);
  --grid-c-3: minmax(50px, 1400px);
  --grid-c-m: minmax(50px, 200px);
  // --grid-r-1: minmax(35px, 50px);
  --grid-r-1: minmax(15px, 200px);
  --grid-r-m: minmax(20px, 100px);
  // --grid-r-2: minmax(60px, 80px);
  // --grid-r-3: minmax(40px, 60px);
}

/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 1.2rem;
  margin: 0 auto;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  // margin: 1.5em 0 .5em 0;
  font-family: var(--ff-primary);
}
h1 {
  font-size: clamp(3.2rem, 4vw, 5rem);
}
h2 {
  font-size: clamp(2.8rem, 3.4vw, 4rem);
}
h3 {
  font-size: clamp(1.8rem, 2vw, 2.4rem);
}
h4 {
  font-size: clamp(1.4rem, 1.6vw, 1.8rem);
}
h5 {
  font-size: clamp(1.2rem, 1.4vw, 1.6rem);
}
p {
  font-size: clamp(1.2rem, 1.4vw, 1.6rem);
  margin-bottom: .5em;
  color: var(--clr-grey-5);
}
a {
  color: var(--clr-lt-faded);
}
/*  global classes */
.btn {
  text-transform: uppercase;
  background: var(--clr-primary-10);
  color: var(--clr-black);
  padding: 0.75em 1.25rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: unset;
  cursor: pointer;
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-grey-7);
  outline: none;
  border: unset;
}
.bth:focus {
  background: var(--clr-grey-7);
  outline: none;
  border: unset;
}
.opacity-0 {
  opacity: 0;
}
/* 
===============
layout 
===============
*/
.wrapper {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  padding: 0 2em 3em 2em;
  // display: flex;
  // flex-flow: column;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: 
    repeat(4, var(--grid-c-m));
  grid-gap: 1em;
  grid-template-rows: 50px repeat(7, var(--grid-r-m));
  grid-template-areas:
    "about about about about"
    "header header header daily"
    "header header header ."
    "header header header ."
    "quote quote quote quote"
    "quote quote quote quote"
    "snake snake snake snake"
    "weather weather quiz quiz"
    "note note link link"
    "time time time time";
  justify-content: center;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
  // border-radius: var(--radius);
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:  hsla(205, 86%, 17%, 0.9);
  padding: 2em;

  .modal-container {
    position: relative;
    display: grid;
    align-content: center;
    height: 100vh;

    .modal-content {
      width: 80vw;
      max-width: 480px;
      margin: 0 auto;
      color: var(--clr-grey-6);
      text-align: center;

      .this-project,
      .about-this-project {
        color: rgba(255, 255, 255, .8);
      }

      .about-this-project {
        margin: 1em 0;
      }

      .this-app-title {
        font-size: clamp(1.8rem, 2.1vw, 2.4rem);
        margin: 1em 0;
      }

      .app-area {
        position: relative;
        width: 100%;
        height: 75vh;
        background: var(--clr-white);
        padding: 0 2em 2em 2em;
        border: 5px solid var(--clr-white);
        border-radius: var(--radius);
        overflow: scroll;

        .app-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: sticky;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          background: var(--clr-white);
          z-index: 99;

          h4 {
            margin: 1em 0;
          }
        }
      }
    }
  }

  .close-modal {
    position: absolute;
    top: 15px;
    right: 15px;
    // z-index: 99;
    font-size: 3rem;
    color: var(--clr-lt-faded);
    cursor: pointer;
  }

  .note-modal {

    .app-area {

      .note-header {
        flex-flow: column;
      }

      form {
        width: 75%;

        textarea {
          display: block;
          width: 100%;
          margin: 0;
          padding: 1em;
          background: var(--clr-primary-10);
          border: none;
          resize: none;
  
          &:focus {
            background: none;
            outline: none;
            border: 1px solid var(--clr-primary-8);
            
            &::placeholder {
              color: transparent;
            }
          }
        }
  
        #note-submit {
          display: block;
          margin: 0 auto;
          background: var(--clr-grey-8);
          border-radius: 0;
          width: 100%;
          outline: none;
          border: unset;
  
          &:hover {
            background: var(--clr-grey-7);
          }
        }
      }

      .expand-btn {
        width: 100%;
        margin: 2em 0 0 0;
        border-top: 2px solid var(--clr-grey-7);
        cursor: pointer;

        h5 {
          text-align: right;
          padding: 1em 0;
        }

        &:hover h5{
          color: var(--clr-grey-4);
        }
      }
    }
  
    .entries-area {

      .entries-list {

        .entry {
          text-align: left;
          margin: 0 0 1em 0;
          background: var(--clr-grey-6);
          overflow: hidden;

          .entry-header {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            background: hsl(209, 34%, 30%);
            font-size: clamp(1.4rem, 1.4vw, 1.4rem);
            font-weight: bold;
            color: var(--clr-white);
            padding: 1em;

            .note-date {
              position: relative;
              font-weight: bolder;
            }
          }

          p {
            padding: 1em;
            font-size: clamp(1.4rem, 1.4vw, 1.4rem);
            color: var(--clr-white);
          }
        }
        .collapse-height {
          height: 7vh;
        }
      }
    }
  }
}

.hide {
  display: none;
}
  
.logo {
  position: relative;
  grid-area: header;

  h1 {
    display: none;
  }

  svg {
    width: 100%;
    max-width: 300px;
    height: auto;
    opacity: .7;
    // margin-bottom: 2em;
    mix-blend-mode: multiply;
  }
}

.about {
  grid-area: about;
  border-top: 15px solid var(--clr-grey-7);

  .about-container {
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    background: rgba(188, 204, 220, .8);
    // opacity: .8;
    width: 100%;
    padding: 1em;
    clip-path: inset(0% 0% 100% 0%);
    transition: var(--transition);
    cursor: pointer;

    p {
      font-size: clamp(1rem, 1.3vw, 1.6rem);
      color: var(--white);
      line-height: 1.35;
      margin-bottom: 0.25em;

      &:nth-of-type(1) {
        margin-top: 0.5em;
      }

      &:nth-of-type(3) {
        font-family: var(--ff-primary);
      }
    }
  }

  &:hover .about-container {
    clip-path: inset(0% 0% 0% 0%);
  }
}

.daily {
  grid-area: daily;
  font-family: var(--ff-primary);
  color: var(--clr-grey-4);


  .daily-container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1em;
    // grid-template-columns: 1fr .5em 1fr;
    // grid-template-rows: 65px 20px;

    .temp-display {
      // grid-column: 2 / 3;
      // grid-row: 1 / 2;
      font-size: clamp(3.6rem, 4vw, 4.2rem);
      font-weight: bold;
      margin: 0 0 0 0;
      padding: 0;
      order: 1;
      // line-height: 1em;
  
      span {
        font-size: clamp(2rem, 2.4vw, 3rem);
      }
    }

    .condition-icon {
      // grid-column: 4 / -1;
      // grid-row: 1 / 2;
      width: 100%;
      max-width: 70px;
      display: block;
      align-self: center;
      margin-top: -.25em;
      order: 3;

      img {
        width: 100%;
        height: auto;
      }
    }

    .hilo {
      // grid-column: 2 / 3;
      // grid-row: 2 / -1;
      display: block;
      font-size: clamp(1.2rem, 1.2vw, 1.4rem);
      font-weight: bolder;
      font-family: var(--ff-secondary);
      order: 2;
    }
    
    .condition {
      // grid-column: 4 / -1;
      // grid-row: 2 / -1;
      line-height: 0.95;
      padding-top: 1px;
      font-size: clamp(1.3rem, 1.3vw, 1.4rem);
      text-align: center;
      font-family: var(--ff-secondary);
      margin-top: -.75em;
      order: 4;
    }
  }
}

.quote {
  grid-area: quote;
  background-size: cover;
  background-position: cover;
  text-align: left;
  cursor: none;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;

  // background: var(--clr-grey-8);
  .quote-container {
    // display: none;

    .wrods,
    .author {
      text-shadow: .5em .5em 0 0 rgba(0, 0, 0, 0.5);
    }

    .words {
      font-size: clamp(1.8rem, 2vw, 2.4rem);
      color: rgba(255, 255, 255, .7);
      margin-bottom: .5em;
      letter-spacing: .008em;
      line-height: 1em;
    }
    .author {
      font-style: italic;
      color: var(--clr-lt-faded);

      &::before {
        content: "– ";
      }
    }
  }
}

.snake {
  grid-area: snake;
  background: var(--clr-grey-7);
}

.weather {
  grid-area: weather;
  background: var(--clr-grey-7);
}

.quiz {
  grid-area: quiz;
  background: var(--clr-grey-7);
}

.note {
  grid-area: note;
  background: var(--clr-grey-6);
  

}

.link {
  grid-area: link;
  background: var(--clr-grey-7);
}

.countdown {
  grid-area: time;
  padding: 1em;

  h5 {
    font-family: var(--ff-primary);
  }

  .timer {
    display: flex;
    justify-content: space-between;

    .timer-format {
      text-align: center;
      width: 20vw;

      h1 {
        color: var(--clr-grey-8);
        // text-shadow: 1px 0px 0px rgba(0, 0, 0, .3), 0px 1px 0px rgba(0, 0, 0, .3), ;
        -webkit-text-stroke: 1px var(--clr-grey-4);
        -webkit-text-fill-color: var(--clr-white);
        // letter-spacing: 1.08em;
      }

      // .timer-display {
      //   width: 1px;
        
      //   span {
      //     width: 1px;
      //     display: block;
      //     text-align: right;
      //   }
      // }
    }
  }
}

@media (min-width: 960px) {

  .wrapper {
    position: relative;
    max-width: var(--max-width);
    grid-template-columns: 
      var(--grid-c-3) var(--grid-c-3) 
      var(--grid-c-2) var(--grid-c-2) 
      var(--grid-c-1) var(--grid-c-1) var(--grid-c-1) 
      var(--grid-c-2) var(--grid-c-2) 
      var(--grid-c-3) var(--grid-c-3);
    grid-gap: 1em;
    grid-template-rows: 
      var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) 
      var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) 
      var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) 
      var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) 
      var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1);
    grid-template-areas:
      ". . . about about about about about . . ."
      ". . . about about about about about . . ."
      ". . . . .header header header header . ."
      ". . . daily daily header header header header . ."
      ". . . daily daily header header header header . ."
      ". . quote quote quote quote . . . . ."
      ". . quote quote quote quote . . . . ."
      "quiz quiz quote quote quote quote . . . . ."
      "quiz quiz quote quote quote quote . . snake snake ."
      ". . quote quote quote quote . . snake snake ."
      ". . quote quote quote quote note note snake snake ."
      ". . quote quote quote quote note note link link link"
      ". . quote quote quote quote note note link link link"
      ". . quote quote quote quote weather weather link link link"
      ". . . time time time weather weather . . ."
      ". . . time time time weather weather . . ."
      ". . . . . . weather weather . . ."
      ". . . . . . weather weather . . ."
      ". . . . . . . . . . .";
      margin: 0 auto;
      padding: 0 3em 3em 3em;
  }
  
  .title {
    position: absolute;
    top: 0px;
    left: 10px;
    // background: var(--clr-grey-8);
    
    svg {
      width: 100%;
      height: 40vh;
      max-width: 600px;
    }
  }

  .daily {
    align-self: end;

    .daily-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1em 1fr;
      grid-template-rows: 65px 20px;

      .temp-display {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        font-size: clamp(2rem, 3.6vw, 4.8rem);
        font-weight: bold;
        margin: 0 0 0 0;
        padding: 0;
        // line-height: 1em;
    
        span {
          font-size: clamp(1.4rem, 2.1vw, 3rem);
        }
      }

      .condition-icon {
        grid-column: 4 / -1;
        grid-row: 1 / 2;
        width: 100%;
        max-width: 10vw;
        display: block;
        align-self: center;
        padding-top: .6em;
        margin-top: 0;

        img {
          width: 100%;
          height: auto;
        }
      }

      .hilo {
        grid-column: 2 / 3;
        grid-row: 2 / -1;
        display: block;
        font-size: clamp(.9rem, 1vw, 1.3rem);
        font-weight: bolder;
      }
      
      .condition {
        grid-column: 4 / -1;
        grid-row: 2 / -1;
        line-height: 0.95;
        padding-top: 1px;
        font-size: clamp(.9rem, 1vw 1.3rem);
        text-align: center;
        margin-top: 0;
      }
    }
  }

  .quote {
    align-items: flex-end;
    // background: rgba(255, 255, 255, 0);
    
    .quote-container {
      padding: 0 3em 0 0;
      height: 100%;
      display: block;
      // grid-template-columns: 1fr 1fr 1fr 1fr;
      // grid-template-rows: 
      .author {
        font-family: var(--ff-secondary);
      }
    }

    .credit {
      margin-bottom: 0;
      font-size: .875rem;
      color: var(--clr-white);
      writing-mode: vertical-rl;
      text-orientation: mixed;
      color: var(--clr-lt-faded);
    }
  }
}