/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Slab:wght@400;700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  /* font */
  font-size: 62.5%;
  --ff-primary: "Roboto Slab", serif;
  --ff-secondary: "Roboto Condensed", sans-serif;
  /* animation */
  --transition: all 0.3s linear;
  /* layout */
  // --margin-lg: 1em;
  // --margin-sm: .75em;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1280px;
  --fixed-width: 620px;
  /* grid */
  --grid-c-1: minmax(90px, 120px);
  --grid-c-2: minmax(80px, 110px);
  --grid-c-3: minmax(70px, 100px);
  --grid-r-1: minmax(30px, 50px);
  --grid-r-2: minmax(20px, 40px);
  --grid-r-3: minmax(10px, 30px);
}

/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 1.2rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  // margin: 1.5em 0 .5em 0;
  font-family: var(--ff-primary);
}
h1 {
  font-size: clamp(2rem, 3vw, 4rem);
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.3rem;
}
p {
  font-size: clamp(1rem, 1.6vw, 2rem);
  margin-bottom: .5em;
  color: var(--clr-grey-5);
}

/*  global classes */
.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375em 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}

/* 
===============
layout 
===============
*/
.wrapper {
  margin: 0 auto;
  width: 90%;
  height: 100vh;
  // display: flex;
  // flex-flow: column;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: minmax(30px, 50px) minmax(30px, 150px) minmax(30px, 150px) minmax(30px, 150px) minmax(30px, 150px);
  grid-gap: 1em;
  grid-template-rows: 50px minmax(30px, 100px) minmax(30px, 100px) minmax(30px, 100px) minmax(30px, 100px) minmax(30px, 100px);
  grid-template-areas:
    "header header header . daily"
    "header header header . ."
    "about quote quote snake snake"
    "about weather weather quiz quiz"
    "about note note link link"
    "time time time time time";
}

.container {
  margin: 1em;
}

.hide {
  display: none;
}

/* Header */
// header {
  // position: relative;
  
  .logo {
    position: relative;
    grid-area: header;
  }

  h1 {
    display: none;
  }

  svg {
    width: 100%;
    max-width: 300px;
    height: auto;
    // margin-bottom: 2em;
    mix-blend-mode: multiply;
  }

  .about {
    grid-area: about;
    background: var(--clr-grey-8);
  }
  
  .daily {
    grid-area: daily;
    align-self: end;
  }

  .quote {
    grid-area: quote;
    // background: var(--clr-grey-8);
    .quote-container {
      display: none;
      .words {
        font-size: clamp(2.4rem, 3vw, 4.8rem);
        color: rgba(255, 255, 255, .7);
      }
      .author {
        font-style: italic;
        font-size: clamp(1.8rem, 2.4vw, 3rem);
      }
    }
  }

  .snake {
    grid-area: snake;
    background: var(--clr-grey-7);
  }

  .weather {
    grid-area: weather;
    background: var(--clr-grey-7);
  }

  .quiz {
    grid-area: quiz;
    background: var(--clr-grey-7);
  }

  .note {
    grid-area: note;
    background: var(--clr-grey-6);
  }

  .link {
    grid-area: link;
    background: var(--clr-grey-7);
  }

  // .counter {
  //   grid-area: counter;
  // }

  .countdown {
    grid-area: time;
    background: var(--clr-grey-7);
    // justify-self: stretch;
    // grid-column: 1 / -1;
    // grid-row: 6 / -1;
  }
// }

/* Main */
// main {
//   margin: 1em;
  // display: grid;
  // grid-gap: 1em;
  // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
// }

// .container {
//   margin: 2em;
// }

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em;
}





  


// footer {

  // #countdown.countdown-container {
  //   grid-column: 1 / -1;
  //   background: var(--clr-grey-3);
  //   justify-self: end;
  // }
  
// }

@media (min-width: 960px) {

  // --grid-c-1: minmax(90px, 120px);
  // --grid-c-2: minmax(80px, 110px);
  // --grid-c-3: minmax(70px, 100px);
  // --grid-r-1: minmax(30px, 50px);
  // --grid-r-2: minmax(20px, 40px);
  // --grid-r-3: minmax(10px, 30px);

  .wrapper {
    position: relative;
    max-width: var(--max-width);
    grid-template-columns: 
      var(--grid-c-3) var(--grid-c-3) 
      var(--grid-c-2) var(--grid-c-2) 
      var(--grid-c-1) var(--grid-c-1) var(--grid-c-1) 
      var(--grid-c-2) var(--grid-c-2) 
      var(--grid-c-3) var(--grid-c-3);
    grid-gap: 1em;
    grid-template-rows: 
      var(--grid-r-3) var(--grid-r-3) var(--grid-r-3) var(--grid-r-3) 
      var(--grid-r-3) var(--grid-r-2) var(--grid-r-2) var(--grid-r-2) 
      var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) 
      var(--grid-r-2) var(--grid-r-2) var(--grid-r-2) var(--grid-r-3) 
      ar(--grid-r-3) var(--grid-r-3) var(--grid-r-3) var(--grid-r-3);
    grid-template-areas:
      
      ". . . . . . . . . . ."
      ". . . about . header header header header . ."
      ". . . about . header header header header . ."
      ". . . daily daily header header header header . ."
      ". . . daily daily header header header header . ."
      ". . quote quote quote quote . . . . ."
      ". . quote quote quote quote . . . . ."
      "quiz quiz quote quote quote quote . . snake snake ."
      "quiz quiz quote quote quote quote note note snake snake ."
      ". . quote quote quote quote note note snake snake ."
      ". . quote quote quote quote note note snake snake ."
      ". . quote quote quote quote note note link link link"
      ". . quote quote quote quote note note link link link"
      ". . . time time time weather weather link link link"
      ". . . time time time weather weather . . ."
      ". . . . . . weather weather . . ."
      ". . . . . . weather weather . . ."
      ". . . . . . weather weather . . ."
      ". . . . . . . . . . .";
      margin: 0 auto;
  }
  
  .title {
    position: absolute;
    top: 30px;
    left: 0px;
    // background: var(--clr-grey-8);
    
    svg {
      width: 100%;
      height: 40vh;
      max-width: 600px;
    }
  }

  .daily {
    .daily-container {
      display: flex;
      justify-content: space-between;
      // align-items: baseline;

      .temp-display {
        font-size: clamp(2.4rem, 3.6vw, 4.8rem);
        font-weight: bold;
        margin: 0 0 0 1em;
        padding: 0;
    
        span {
          font-size: clamp(1.6rem, 2.4vw, 3.6rem);
        }

        span.hilo {
          display: block;
          font-size: 1.1rem;
        }
      }
    
    .condition {
      text-align: center;
    }

    span.condition-icon {
      width: 5vw;
      display: block;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .quote {
    // background: rgba(255, 255, 255, 0);
    .quote-container {
      display: block;
      margin: 0 8rem 0 0;
    }
  }
}