@charset "UTF-8";
/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Slab:wght@400;700&display=swap");
/*
=============== 
Variables
===============
*/
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  --clr-white: #fff;
  --clr-dk-faded: rgba(0, 0, 0, 0.7);
  --clr-lt-faded: rgba(255, 255, 255, .7);
  /* font */
  font-size: 62.5%;
  --ff-primary: "Roboto Slab", serif;
  --ff-secondary: "Roboto Condensed", sans-serif;
  /* animation */
  --transition: all .3s ease-in-out;
  /* layout */
  --spacing: 0.25rem;
  --radius: 1rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1280px;
  --fixed-width: 620px;
  /* grid */
  --grid-c-1: minmax(90px, 120px);
  --grid-c-2: minmax(80px, 110px);
  --grid-c-3: minmax(70px, 100px);
  --grid-r-1: minmax(35px, 50px);
}

/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 1.2rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img:not(.logo) {
  width: 100%;
}

img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  font-family: var(--ff-primary);
}

h1 {
  font-size: clamp(3.2rem, 4vw, 5rem);
}

h2 {
  font-size: clamp(2.8rem, 3.4vw, 4rem);
}

h3 {
  font-size: clamp(1.4rem, 1.8vw, 2.4rem);
}

h4 {
  font-size: clamp(1.4rem, 1.6vw, 1.8rem);
}

h5 {
  font-size: clamp(1.2rem, 1.4vw, 1.6rem);
}

p {
  font-size: clamp(1rem, 1.6vw, 2rem);
  margin-bottom: .5em;
  color: var(--clr-grey-5);
}

a {
  color: var(--clr-lt-faded);
}

/*  global classes */
.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375em 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}

/* 
===============
layout 
===============
*/
.wrapper {
  margin: 0 auto;
  width: 90%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(30px, 50px) minmax(30px, 150px) minmax(30px, 150px) minmax(30px, 150px) minmax(30px, 150px);
      grid-template-columns: minmax(30px, 50px) minmax(30px, 150px) minmax(30px, 150px) minmax(30px, 150px) minmax(30px, 150px);
  grid-gap: 1em;
  -ms-grid-rows: 50px minmax(30px, 100px) minmax(30px, 100px) minmax(30px, 100px) minmax(30px, 100px) minmax(30px, 100px);
      grid-template-rows: 50px minmax(30px, 100px) minmax(30px, 100px) minmax(30px, 100px) minmax(30px, 100px) minmax(30px, 100px);
      grid-template-areas: "header header header . daily" "header header header . ." "about quote quote snake snake" "about weather weather quiz quiz" "about note note link link" "time time time time time";
}

.app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  border-radius: var(--radius);
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--clr-grey-1);
  opacity: .9;
  padding: 2em;
}

.modal .modal-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
}

.modal .modal-container .modal-content {
  width: 75vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--clr-white);
}

.modal .modal-container .close-modal {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem;
  color: var(--clr-lt-faded);
  cursor: pointer;
}

.hide {
  display: none;
}

.logo {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

.logo h1 {
  display: none;
}

.logo svg {
  width: 100%;
  max-width: 300px;
  height: auto;
  opacity: .7;
  mix-blend-mode: multiply;
}

.about {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: about;
}

.daily {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: daily;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-family: var(--ff-primary);
  color: var(--clr-grey-4);
}

.daily .hilo,
.daily .condition {
  font-family: var(--ff-secondary);
}

.quote {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: quote;
  background-size: cover;
  background-position: cover;
  cursor: none;
}

.quote .quote-container {
  display: none;
}

.quote .quote-container .wrods,
.quote .quote-container .author {
  text-shadow: 0.5em 0.5em 0 0 rgba(0, 0, 0, 0.5);
}

.quote .quote-container .words {
  font-size: clamp(2.4rem, 3vw, 4.2rem);
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: .5em;
  letter-spacing: .008em;
  line-height: 1em;
}

.quote .quote-container .author {
  font-style: italic;
  color: var(--clr-lt-faded);
}

.quote .quote-container .author::before {
  content: "– ";
}

.snake {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: snake;
  background: var(--clr-grey-7);
}

.weather {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: weather;
  background: var(--clr-grey-7);
}

.quiz {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: quiz;
  background: var(--clr-grey-7);
}

.note {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: note;
  background: var(--clr-grey-6);
}

.link {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: link;
  background: var(--clr-grey-7);
}

.countdown {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: time;
  padding: 1em;
}

.countdown h5 {
  font-family: var(--ff-primary);
}

.countdown .timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.countdown .timer .timer-format {
  text-align: center;
  width: 20vw;
}

.countdown .timer .timer-format h1 {
  color: var(--clr-grey-8);
  -webkit-text-stroke: 1px var(--clr-grey-4);
  -webkit-text-fill-color: var(--clr-white);
}

@media (min-width: 960px) {
  .wrapper {
    position: relative;
    max-width: var(--max-width);
    -ms-grid-columns: var(--grid-c-3) var(--grid-c-3) var(--grid-c-2) var(--grid-c-2) var(--grid-c-1) var(--grid-c-1) var(--grid-c-1) var(--grid-c-2) var(--grid-c-2) var(--grid-c-3) var(--grid-c-3);
        grid-template-columns: var(--grid-c-3) var(--grid-c-3) var(--grid-c-2) var(--grid-c-2) var(--grid-c-1) var(--grid-c-1) var(--grid-c-1) var(--grid-c-2) var(--grid-c-2) var(--grid-c-3) var(--grid-c-3);
    grid-gap: 1em;
    -ms-grid-rows: var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1);
        grid-template-rows: var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1) var(--grid-r-1);
        grid-template-areas: ". . . about about about about about . . ." ". . . about about about about about . . ." ". . . . . header header header header . ." ". . . daily daily header header header header . ." ". . . daily daily header header header header . ." ". . quote quote quote quote . . . . ." "quiz quiz quote quote quote quote . . . . ." "quiz quiz quote quote quote quote . . snake snake ." ". . quote quote quote quote note note snake snake ." ". . quote quote quote quote note note snake snake ." ". . quote quote quote quote note note link link link" ". . quote quote quote quote weather weather link link link" ". . . time time time weather weather link link link" ". . . time time time weather weather . . ." ". . . . . . weather weather . . ." ". . . . . . . . . . .";
    margin: 0 auto;
  }
  .title {
    position: absolute;
    top: -7px;
    left: 10px;
  }
  .title svg {
    width: 100%;
    height: 40vh;
    max-width: 600px;
  }
  .about {
    border-top: 20px solid var(--clr-grey-7);
  }
  .about .about-container {
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    background: rgba(188, 204, 220, 0.8);
    width: 100%;
    padding: 1em;
    -webkit-clip-path: inset(0% 0% 100% 0%);
            clip-path: inset(0% 0% 100% 0%);
    -webkit-transition: var(--transition);
    transition: var(--transition);
    cursor: pointer;
  }
  .about .about-container p {
    font-size: clamp(1rem, 1.3vw, 1.6rem);
    color: var(--white);
    line-height: 1.35;
    margin-bottom: 0.25em;
  }
  .about .about-container p:nth-of-type(1) {
    margin-top: 0.5em;
  }
  .about .about-container p:nth-of-type(3) {
    font-family: var(--ff-primary);
  }
  .about:hover .about-container {
    -webkit-clip-path: inset(0% 0% 0% 0%);
            clip-path: inset(0% 0% 0% 0%);
  }
  .daily .daily-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .daily .daily-container .temp-display {
    font-size: clamp(2.4rem, 3.6vw, 4.8rem);
    font-weight: bold;
    margin: 0 0 0 1em;
    padding: 0;
  }
  .daily .daily-container .temp-display span {
    font-size: clamp(1.4rem, 2.1vw, 3rem);
  }
  .daily .daily-container .temp-display span.hilo {
    display: block;
    font-size: 1.1rem;
    font-weight: bolder;
  }
  .daily .daily-container .condition {
    text-align: center;
    margin-right: 2em;
  }
  .daily .daily-container .condition span.condition-icon {
    width: 5vw;
    display: block;
  }
  .daily .daily-container .condition span.condition-icon img {
    width: 100%;
    height: auto;
  }
  .quote {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .quote .quote-container {
    padding: 0 3em 0 0;
    height: 100%;
    display: block;
  }
  .quote .quote-container .author {
    font-family: var(--ff-secondary);
  }
  .quote .credit {
    margin-bottom: 0;
    font-size: .875rem;
    color: var(--clr-white);
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: mixed;
    color: var(--clr-lt-faded);
  }
}
/*# sourceMappingURL=main.css.map */